CREATE LOGIN [@USERNAME@] WITH PASSWORD = N'@PASS@', DEFAULT_DATABASE=[@INITIAL_CATALOG@], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO

USE @INITIAL_CATALOG@
GO

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'@USERNAME@')
BEGIN
    CREATE USER [@USERNAME@] FOR LOGIN [@USERNAME@] WITH DEFAULT_SCHEMA=[dbo];
    EXEC sp_addrolemember N'db_owner', N'@USERNAME@'
END
GO