<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="WebSiteId" value="2" />
  <add key="PublishFlag" value="false" />
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="GoogleClientId" value="" />
  <add key="GoogleClientSecret" value="" />
  <add key="Cache.CacheToUse" value="netmemory" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>