<rules>
  <rule name="ensurewww" stopProcessing="true">
	  <match url=".*" />
	  <conditions>
		<add input="{CACHE_URL}" pattern="^(.+)://(?!www)(.*)" />
	  </conditions>
	  <action type="Redirect" url="{C:1}://www.{C:2}" redirectType="Permanent" />
	</rule>
  <rule name="gulpRedir" stopProcessing="true">
    <match url="^(images/|css/|fonts/|js/)(.*)" />
    <action type="Rewrite" url="site_specific/{R:1}{R:2}" />
  </rule>
  <rule name="underscoreRedir" stopProcessing="true">
    <match url="^(?!_files)(_.*)+" />
    <action type="Rewrite" url="site_specific/{R:1}" />
  </rule>
  <rule name="Remove trailing slash">
    <match url="(.*)/$" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
  </rule>
  <rule name="http to https" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
        <!-- add input="{HTTP_HOST}" pattern="^www\.example\.com$" / -->
        <add input="{HTTPS}" pattern="^OFF$" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
  </rule>
</rules>