<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="rssConfiguration" type="One.Net.BLL.WebConfig.RssConfiguration" />
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>

  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <providers>

      <add name="TURLProvider" type="One.NET.BLL.TURLProvider" securityTrimmingEnabled="true" />
    </providers>
    <rewrites>
      <add name="svetavladarRedir" provider="RegEx" virtualUrl="^/(?!_files)(_.*)+" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/site_specific/www.drama.si/$1" redirect="None" ignoreCase="true" />
      <add name="AdminRedir" provider="RegEx" virtualUrl="^/adm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/adm/structure.aspx" redirect="None" ignoreCase="true" />
      <add name="robotsRedir" provider="RegEx" virtualUrl="^/robots.txt" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/site_specific/www.drama.si/robots.txt" redirect="None" ignoreCase="true" />
      <add name="favicoRedir" provider="RegEx" virtualUrl="^/favicon.ico" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/site_specific/www.drama.si/favicon.ico" redirect="None" ignoreCase="true" />
      <add name="MainRedirect" provider="TURLProvider"></add>
    </rewrites>
  </urlrewritingnet>
  <appSettings>
    <add key="aspxTemplatesFolder" value="site_specific/www.drama.si\aspx_templates" />
    <add key="customModulesFolder" value="site_specific/www.drama.si\custom_modules" />
    <add key="emailTemplatesFolder" value="site_specific/www.drama.si\email_templates" />
    <add key="WebSiteId" value="1" />
    <add key="PreferredCulture" value="sl-SI" />
    <add key="PreferredUICulture" value="sl-SI" />
    <add key="PublishRoleMapping" value="publisher" />
    <add key="PublishFlag" value="false" />
    <add key="CacheDuration" value="3600" />
  </appSettings>
  <connectionStrings>
    <add name="MsSqlConnectionString" connectionString="server=kit.renderspace.si;uid=drama;pwd=drama;database=drama;Pooling=true;"/>
    <add name="MsSqlConnectionString13" connectionString=";"/>
    <add name="MsSqlConnectionStringCustom" connectionString="server=kit.renderspace.si;uid=drama;pwd=drama;database=drama-custom;Pooling=true;"/>
    <add name="ProfileSqlConnectionString" connectionString="server=KIT.renderspace.si;uid=auth;pwd=auth;database=AuthManager;Pooling=true;"/>
    <add name="MsSqlConnectionStringCrawler" connectionString="server=KIT.renderspace.si;uid=crawler;pwd=crawler;database=Crawler;Pooling=true;" />
    <add name="Bamboo" connectionString="server=kit.renderspace.si;uid=drama;pwd=drama;database=drama-custom;Pooling=true;"/>
  </connectionStrings>
  <system.web>
    <globalization uiCulture="sl-SI" culture="sl-SI" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>



    <sessionState timeout="60" />
    <httpRuntime maxRequestLength="12288" requestValidationMode="2.0" />
    <customErrors defaultRedirect="~/site_specific/www.drama.si/error.htm" mode="Off">
      <error statusCode="404" redirect="~/site_specific/www.drama.si/filenotfound.htm" />
      <error statusCode="403" redirect="~/site_specific/www.drama.si/authorizationfailed.htm" />
    </customErrors>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms" />

    <membership defaultProvider="TwoAspMembershipProvider">
      <providers>
        <clear />
        <add name="TwoAspMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ProfileSqlConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="OneNet" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <clear />
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="ProfileSqlConnectionString" applicationName="OneNet" />
      </providers>

    </roleManager>

    <profile enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" applicationName="/" connectionStringName="ProfileSqlConnectionString" />
      </providers>
      <properties>
        <add name="AutoPublish" type="Boolean" allowAnonymous="false" />
        <add name="EnableStructureEditing" type="Boolean" allowAnonymous="false" />
        <add name="ShowMenuGroupIds" type="Boolean" allowAnonymous="false" />
        <add name="UseFCK" type="Boolean" allowAnonymous="false" />
        <add name="ExpandTree" type="Boolean" allowAnonymous="false" />
        <add name="SelectedCultureId" type="Int32" allowAnonymous="false" />
        <add name="SelectedUICultureId" type="Int32" allowAnonymous="false" />
        <add name="SelectedWebSiteId" type="Int32" allowAnonymous="false" />
        <add name="SelectedPageId" type="Int32" allowAnonymous="false" />
        <add name="SelectedCulture" type="String" allowAnonymous="false" />
        <add name="SelectedUICulture" type="String" allowAnonymous="false" />
        <add name="RootNodeId" type="Int32" allowAnonymous="false" />
        <add name="ShowUntranslated" type="Boolean" allowAnonymous="false" />
        <add name="UserSecret" type="String" allowAnonymous="false" />
        <add name="DisplayName" type="String" allowAnonymous="false" />
        <add name="FirstName" type="String" allowAnonymous="false" />
        <add name="SurName" type="String" allowAnonymous="false" />
        <add name="Email" type="String" allowAnonymous="false" />

      </properties>
    </profile>

    <siteMap enabled="true" defaultProvider="OneSiteMapProvider">
      <providers>
        <clear />
        <add name="AspNetXmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add name="OneSiteMapProvider" type="One.Net.BLL.OneSiteMapProvider" securityTrimmingEnabled="false" connectionStringName="SiteMapConnectionString" />
      </providers>
    </siteMap>

    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>



    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpSoap" />
      </protocols>
    </webServices>


  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRewriteModule"/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </modules>
    <handlers>
      <add path="*.gif" name="gif2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler"/>
      <add path="*.png" name="png2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler"/>
      <add path="*.jpg" name="jpg2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler"/>
      <add path="*.jpeg" name="jpeg2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler"/>
      <add path="*.ico" name="ico2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler"/>

      <add verb="GET" name="CaptchaImage" path="CaptchaImage.axd" type="One.Net.BLL.WebControls.Captcha.ImageHttpHandler" />
    </handlers>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp from="info@klop.si">
        <network host="mx.renderspace.si" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.serviceModel>
    <services>
      <service name="One.Net.BLL.Service.FormService" behaviorConfiguration="myBehavior">
        <endpoint address="" binding="webHttpBinding" contract="One.Net.BLL.Service.IFormService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="NikondaRoleManager">
            <authorizationPolicies>
              <add policyType="Nikonda.Scaffold.Core.Web.MembershipAuthorizationPolicy, Nikonda.Scaffold.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </authorizationPolicies>
          </serviceAuthorization>-->
          <serviceCredentials>
            <!--
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="NikondaMembershipProvider"/>
            -->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="NewtonsoftJsonBehavior" type="Newtonsoft.Json.Extensions.NewtonsoftJsonBehavior, NewtonsoftJsonExtensions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <location path="adm">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>