<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="rssConfiguration" type="One.Net.BLL.WebConfig.RssConfiguration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="sassAndScss" type="BundleTransformer.SassAndScss.Configuration.SassAndScssSettings, BundleTransformer.SassAndScss" />
      <section name="yui" type="BundleTransformer.Yui.Configuration.YuiSettings, BundleTransformer.Yui" />
    </sectionGroup> 
  </configSections>
  <rssConfiguration>
    <providers>
      <add name="Articles" type="One.Net.BLL.RSSProviderSQL" listItemsMethod="[dbo].[ListArticlesForRss]" listCategoriesMethod="[dbo].[ListArticleCategoriesForRss]" connectionString="MsSqlConnectionString" />
    </providers>
  </rssConfiguration>
  <!-- 
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="asyncFile" xsi:type="AsyncWrapper">
        <target name="logfile" xsi:type="File" fileName="c:\logs\demo.log" />
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="asyncFile" />
    </rules>

  </nlog> -->
  <appSettings file="LocalAppSettings.config" />
  <connectionStrings configSource="LocalConnectionStrings.config" />
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" culture="sl-SI" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <sessionState timeout="60" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="12288" targetFramework="4.5.1" />
    <customErrors defaultRedirect="~/site_specific/error.htm" mode="Off">
      <error statusCode="404" redirect="~/site_specific/filenotfound.htm" />
      <error statusCode="403" redirect="~/site_specific/authorizationfailed.htm" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1" />
    <authentication mode="None" />
    <!-- for authorized access to all preview
    <authorization>
      <deny users="?" />
    </authorization>
    -->
    <siteMap enabled="true" defaultProvider="OneSiteMapProvider">
      <providers>
        <clear />
        <add name="AspNetXmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add name="OneSiteMapProvider" type="One.Net.BLL.OneSiteMapProvider" securityTrimmingEnabled="false" connectionStringName="SiteMapConnectionString" />
      </providers>
    </siteMap>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpSoap" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="underscoreRedir" stopProcessing="true">
          <match url="^(?!_files)(_.*)+" />
          <action type="Rewrite" url="site_specific/{R:1}" />
        </rule>
        <rule name="Remove trailing slash">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RedirectModule" type="One.Net.BLL.RedirectModule, One.Net.BLL" />
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <add path="/callbacks/google" name="Owin" verb="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
      <add path="*.gif" name="gif2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.png" name="png2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.jpg" name="jpg2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.jpeg" name="jpeg2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.ico" name="ico2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.bmp" name="bmp" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.page" name="page" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.flo" name="flo" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.pdf" name="pdf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.xls" name="xls" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.xlsx" name="xlsx" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.doc" name="doc" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.docx" name="docx" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.pps" name="pps" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.ppt" name="ppt" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.pptx" name="pptx" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.zip" name="zip" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.ai" name="ai" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.swf" name="swf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.eot" name="eot" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.svg" name="svg" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.ttf" name="ttf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.woff" name="woff" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.woff2" name="woff2" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.mp3" name="mp3" verb="GET,HEAD,POST" type="One.Net.BLL.Paths.DownloadHandler" />
      <add name="SassAssetHandler" path="*.sass" verb="GET" type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" resourceType="File" preCondition="" />
      <add name="ScssAssetHandler" path="*.scss" verb="GET" type="BundleTransformer.SassAndScss.HttpHandlers.SassAndScssAssetHandler, BundleTransformer.SassAndScss" resourceType="File" preCondition="" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMaxAge="7.00:00:00" cacheControlMode="UseMaxAge" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".m4v" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".oga" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <remove fileExtension=".spx" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="site_specific\404.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="info@renderspace.si">
        <network host="mx.renderspace.si" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <services>
      <service name="One.Net.BLL.Service.ScaffoldService">
        <endpoint address="" binding="webHttpBinding" contract="One.Net.BLL.Service.IScaffoldService" />
      </service>
      <service name="One.Net.BLL.Service.FormService">
        <endpoint address="" binding="webHttpBinding" contract="One.Net.BLL.Service.IFormService" />
      </service>
      <service name="One.Net.BLL.Service.AdminService">
        <endpoint address="" binding="webHttpBinding" contract="One.Net.BLL.Service.IAdminService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="UseAspNetRoles">
            <authorizationPolicies>
              <add policyType="One.Net.BLL.Service.MembershipAuthorizationPolicy, One.Net.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="NewtonsoftJsonBehavior" type="Newtonsoft.Json.Extensions.NewtonsoftJsonBehavior, NewtonsoftJsonExtensions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <location path="adm">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminService">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ScaffoldService">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Bundles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="JavaScript">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.52.0" newVersion="1.9.52.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConwebnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css defaultMinifier="NullMinifier">
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="YuiCssMinifier" type="BundleTransformer.Yui.Minifiers.YuiCssMinifier, BundleTransformer.Yui" />
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
          <add name="SassAndScssTranslator" type="BundleTransformer.SassAndScss.Translators.SassAndScssTranslator, BundleTransformer.SassAndScss" />
        </translators>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".sass" assetTypeCode="Sass" />
          <add fileExtension=".scss" assetTypeCode="Scss" />
        </fileExtensions>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
      </css>
      <js defaultMinifier="NullMinifier">
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="YuiJsMinifier" type="BundleTransformer.Yui.Minifiers.YuiJsMinifier, BundleTransformer.Yui" />
        </minifiers>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
</configuration>