<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=KIT.renderspace.si;uid=universal;pwd=Identity12345;database=universal_identity_2;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="MsSqlConnectionString" connectionString="server=KIT;uid=onenetdemo;pwd=onenetdemo;database=OneNetDemo;Pooling=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MsSqlConnectionStringCustom" connectionString="server=KIT;uid=onenetdemo;pwd=onenetdemo;database=one_net_custom;Pooling=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Bamboo" connectionString="server=KIT;uid=onenetdemo;pwd=onenetdemo;database=one_net_custom;Pooling=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <nlog xdt:Transform="Remove" />

  <appSettings>
    <add key="WebSiteId" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PublishFlag" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <system.web>
    <globalization  xdt:Transform="Replace" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-US" culture="sl-SI" />

    <customErrors defaultRedirect="/site_specific/500.html" mode="Off" xdt:Transform="Replace">
    </customErrors>
    
  </system.web>

  <system.webServer>
    <httpErrors xdt:Transform="Remove" />
  </system.webServer>

  <system.net xdt:Transform="Remove" />
  <system.net xdt:Transform="Insert" >
    <mailSettings>
      <smtp from="info@renderspace.si">
        <network host="localhost" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

  </configuration>