<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="rssConfiguration" type="One.Net.BLL.WebConfig.RssConfiguration" />
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="fiftyOne">
      <section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
      <section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
      <section name="detection" type="FiftyOne.Foundation.Mobile.Detection.Configuration.DetectionSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
      <section name="imageOptimisation" type="FiftyOne.Foundation.Mobile.Configuration.ImageOptimisationSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
    </sectionGroup>
  </configSections>
  <rssConfiguration>
    <providers>
      <add name="Articles" type="One.Net.BLL.RSSProviderSQL" listItemsMethod="[dbo].[ListArticlesForRss]" listCategoriesMethod="[dbo].[ListArticleCategoriesForRss]" connectionString="MsSqlConnectionString" />
    </providers>
  </rssConfiguration>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <providers>
      <add name="TURLProvider" type="One.NET.BLL.TURLProvider" securityTrimmingEnabled="true" />
    </providers>
    <rewrites>
      <add name="backslashRedir" provider="RegEx" virtualUrl="~/(.*)/$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/$1" redirect="Application" ignoreCase="true" />
      <add name="svetavladarRedir" provider="RegEx" virtualUrl="^/(?!_files)(_.*)+" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/site_specific/$1" redirect="None" ignoreCase="true" />
      <!-- add name="AdminRedir" provider="RegEx" virtualUrl="^/adm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/adm/structure.aspx" redirect="None" ignoreCase="true" / -->
      <add name="robotsRedir" provider="RegEx" virtualUrl="^/robots.txt" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/site_specific/robots.txt" redirect="None" ignoreCase="true" />
      <add name="favicoRedir" provider="RegEx" virtualUrl="^/favicon.ico" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/site_specific/favicon.ico" redirect="None" ignoreCase="true" />
      <add name="MainRedirect" provider="TURLProvider"></add>
    </rewrites>
  </urlrewritingnet>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    

    <add key="WebSiteId" value="7" />
    <add key="PublishRoleMapping" value="publisher" />
    <add key="PublishFlag" value="false" />
    <add key="CacheDuration" value="3600" />
  </appSettings>
  <connectionStrings>
    <add name="ProfileSqlConnectionString" connectionString="server=tartar.netinet.si;uid=auth;pwd=auth;database=AuthManager;Pooling=true;" />
    <add name="DefaultConnection" connectionString="server=tartar.netinet.si;uid=auth;pwd=auth;database=universal_identity;Pooling=true;" providerName="System.Data.SqlClient" />


    <!--<add name="MsSqlConnectionString" connectionString="server=tartar.netinet.si;uid=zrsz;pwd=zrsz;database=zrsz;Pooling=true;" />-->
<!-- <add connectionString="Data Source=tartar.netinet.si;Initial Catalog=test7;User ID=test7;Password=izvslf;Pooling=True" name="MsSqlConnectionString" /> -->
    <add name="MsSqlConnectionString" connectionString="server=kit.renderspace.si;uid=drama;pwd=drama;database=drama;Pooling=true;" />
    

    <!--<add name="Bamboo" connectionString="server=tartar.netinet.si;uid=zrsz;pwd=zrsz;database=zrsz-custom;Pooling=true;" />-->
    <add name="Bamboo" connectionString="server=kit.renderspace.si;uid=drama;pwd=drama;database=drama-custom;Pooling=true;" />
    
    
    <add name="MsSqlConnectionString13" connectionString=";Pooling=true;" />
    <add name="MsSqlConnectionStringCustom" connectionString="server=tartar.netinet.si;uid=zrsz;pwd=zrsz;database=zrsz-custom;Pooling=true;" />

    

    <add name="MsSqlConnectionStringCrawler" connectionString="server=tartar.netinet.si;uid=zrsz;pwd=zrsz;database=Crawler;Pooling=true;" />
    <!-- Baza ZRSZ_JobVacancy -->
    <add name="eSvetovanje.Entities.Properties.Settings.ZRSZ_KorpoWebConnectionString" connectionString="Data Source=tartar.netinet.si;Initial Catalog=KorpoWeb;Persist Security Info=True;User Id=zrsz;Password=zrsz" providerName="System.Data.SqlClient" />
    <add name="eSvetovanje.Entities.Properties.Settings.ZRSZ_JobVacancyConnectionString" connectionString="Data Source=tartar.netinet.si;Initial Catalog=zrsz-JobVacancy;Persist Security Info=True;User ID=zrsz;Password=zrsz" providerName="System.Data.SqlClient" />
    <!-- Glavna baza aplikacije eSvetovanje -->
    <add name="eSvetovanje.Entities.Properties.Settings.eSvetovanjeConnectionString" connectionString="Data Source=tartar.netinet.si;Initial Catalog=zrsz-eSvetovanje2;Persist Security Info=True;User ID=zrsz;Password=zrsz" providerName="System.Data.SqlClient" />
    <!-- KorpoWeb -->
    <add name="eSvetovanje.Entities.Properties.Settings.ESSConnectionString" connectionString="Data Source=tartar.netinet.si;Initial Catalog=zrsz-SkupnaBaza;Persist Security Info=True;User ID=zrsz;Password=zrsz" providerName="System.Data.SqlClient" />
    <!--<add name="eSvetovanje.Entities.Properties.Settings.ESSConnectionString" connectionString="user id=wds_test;password=wds_test_1234*;data source=cswebrazvoj;initial catalog=SkupnaBaza;packet size=4096" providerName="System.Data.SqlClient"/>-->
    <add name="eSvetovanje.Kontakti" connectionString="Data Source=tartar.netinet.si;Initial Catalog=zrsz-Kontakti;Persist Security Info=True;User ID=zrsz;Password=zrsz" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <fiftyOne>
    <redirect firstRequestOnly="true" mobileHomePageUrl="http://zrszm.t.renderspace.net" timeout="20" devicesFile="~/App_Data/Devices.dat" mobilePagesRegex="/(Mobile)/">
    </redirect>
    <log logFile="~/App_Data/Log.txt" logLevel="Info" />
    <detection binaryFilePath="~/App_Data/51Degrees.dat" />
  </fiftyOne>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="sl-SI" culture="sl-SI" />
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <sessionState timeout="60" />
    <httpRuntime maxRequestLength="12288" requestValidationMode="2.0" />
    <customErrors defaultRedirect="~/site_specific/error.htm" mode="Off">
      <error statusCode="404" redirect="~/site_specific/filenotfound.htm" />
      <error statusCode="403" redirect="~/site_specific/authorizationfailed.htm" />
    </customErrors>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="None">
      <forms loginUrl="/Account/Login.aspx" />
    </authentication>

      <siteMap enabled="true" defaultProvider="OneSiteMapProvider">
      <providers>
        <clear />
        <add name="AspNetXmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add name="OneSiteMapProvider" type="One.Net.BLL.OneSiteMapProvider" securityTrimmingEnabled="false" connectionStringName="SiteMapConnectionString" />
      </providers>
    </siteMap>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <add name="HttpSoap" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <remove name="UrlRewriteModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>
    <handlers>
      <add path="*.gif" name="gif2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.png" name="png2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.jpg" name="jpg2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.jpeg" name="jpeg2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.ico" name="ico2" verb="GET,HEAD,POST" type="One.Net.BLL.TImageHandler" />
      <add path="*.bmp" name="bmp" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />

      <add path="*.page" name="page" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.flo" name="flo" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.pdf" name="pdf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.xls" name="xls" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.xlsx" name="xlsx" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.mp3" name="mp3" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.doc" name="doc" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.docx" name="docx" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.pps" name="pps" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.ppt" name="ppt" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.pptx" name="pptx" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.zip" name="zip" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.ai" name="ai" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add path="*.swf" name="swf" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="info@renderspace.si">
        <network host="mx.renderspace.si" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <services>
      <service name="One.Net.BLL.Service.FormService" behaviorConfiguration="myBehavior">
        <endpoint address="" binding="webHttpBinding" contract="One.Net.BLL.Service.IFormService" />
      </service>
      <service name="One.Net.BLL.Service.AdminService" behaviorConfiguration="myBehavior">
        <endpoint address="" binding="webHttpBinding" contract="One.Net.BLL.Service.IAdminService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="NikondaRoleManager">
            <authorizationPolicies>
              <add policyType="Nikonda.Scaffold.Core.Web.MembershipAuthorizationPolicy, Nikonda.Scaffold.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </authorizationPolicies>
          </serviceAuthorization>-->
          <serviceCredentials>
            <!--
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="NikondaMembershipProvider"/>
            -->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="NewtonsoftJsonBehavior" type="Newtonsoft.Json.Extensions.NewtonsoftJsonBehavior, NewtonsoftJsonExtensions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <location path="adm">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConwebnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>