@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext);

body {font-family: 'Roboto', sans-serif!important; font-size: 13px; margin: 0; padding: 0;}
ul:focus, .nav-sidebar li a:focus {outline:0px !important; -webkit-appearance:none;}
h1, .h1, h2, .h2, h3, .h3 {margin-top: 0!important;}
.radio, .checkbox {padding-left: 0!important;}
input[type="button"], input[type="text"], input[type="submit"], select {padding: 3px 5px; margin: 0;}
input[type="text"], select {min-width: 220px;}
select, select:hover, select:focus {color: #000!important;}
textarea {display: inline-block; padding: 3px 5px; border: 1px #ccc solid!important;}
input[type="radio"], input[type="checkbox"] {float: left; margin: 4px 5px 0 0!important;}
input[type="text"], select { border: 1px #ccc solid!important;}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {width: 20px;}
.input, .select, .buttons {margin-bottom: 10px; display: inline-block;}
.input, .select {width: 100%;}
.layout-left {float: left; width: 15%;}
.layout-right {float: right; width: 85%;}
.layout-right input, .layout-right select {width: 100%;}
.layout-mid {float: left; width: 30%;}
.input.uri .layout-right {width: 50%;}
.input.uri span {width: auto; font-size: 12px;}

input[type="submit"] {color: #428bca;  font-weight: bold!important; background-color: #fff; border: 1px #ccc solid; display: inline-block; padding: 3px 12px; margin: 0 0 0 7px; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px;}
input[type="number"]  {width: 70px;}

.alert h2 {font-size: 16px; font-weight: bold;}
.alert p {font-size: 13px;}

.right.buttons {float: right;}

.moduleInstance {border-bottom: 1px #ccc solid; padding: 15px 0;}

.navbar-brand {font-size: 10px!important;}
.navbar-brand img {margin-right: 10px;}
.nav>li>a {float: left; padding: 19px 15px!important;}
.nav>li:nth-child(2)>a {padding: 15px 15px!important;}
.nav>li:nth-child(4)>a, .nav>li:nth-child(4)>a:hover {background-color: #424040!important;}

.head {width: 100%; background-color: #1f1f1f; padding: 5px; color: #FFF; }

.centerStructure {width: 320px;}
.centerStructure, .mainEditor {float: left;}
.mainEditor {margin-left: 10px; width: 600px; background: #f5f5f5;}
.mainEditor .contentEntry, .TextContentInstance {padding: 15px 15px 0 15px;}

.input label, .select label {width: 157px;}

.extline {margin: 10px 0; cursor: pointer;}
summary {margin: 10px 0 0 0; cursor: pointer; text-decoration: underline;}
summary.nolink {text-decoration: none;}
details {background: #CCC; padding: 1px 10px 10px 10px; margin: 10px 0; overflow: auto;}
details input[type='submit'] {float: right;}
details .select {margin: 10px 0 0 0;}

.module h3 {border-bottom: 1px #ccc solid; padding-bottom: 10px; margin-bottom: 10px;}
.module .submit-links {float: right; padding-top: 10px; margin-top: 10px;}

.lastChange {float: left; margin: 4px 20px 0 0;}
.lastChanged {padding: 10px; background: #9E9E98; color: #FFF; display: inline-block; width: 100%;}
.lastChanged .infolabel {float: left;}
.lastChanged .info {float: right;}

.module, .mainEditor, .centerStructure {display: block; border-top: 4px #9e9e98 solid; float: left; margin: 10px 0 10px 0; padding: 20px; background-color: #E3E2DA;}
.tall {float: left; width: 100%;}
.page-and-module-settings {float: left; width: 100%;}
.page-and-module-settings .module {width: 100%;}

.input span {display: inline-block; margin-bottom: 5px; font-weight: bold; width: 157px;}

.main textarea {width: 100%;}
.main table {float: left; width: 100%; margin: 20px 0;}
.main table tr td, table tr th {padding: 5px;}

.main tr:nth-child(even) td { background: #e7e7e7; }
.main tr:nth-child(odd)  td { background: #fafafa; }
.main tr td { background: #e7e7e7; }
.main tr+tr td { background: #fafafa; }
.main tr+tr+tr td { background: #e7e7e7; }
.main tr+tr+tr+tr td { background: #fafafa; }
.main tr+tr+tr+tr+tr td { background: #e7e7e7; }
.main tr+tr+tr+tr+tr+tr td { background: #fafafa; }

.topStructure {display: block; width: 100%; border-top: 4px #9e9e98 solid; float: left; margin: 10px 0; padding: 10px; background-color: #E3E2DA;}
table tr th {border-top: 4px #9e9e98 solid; margin: 10px; padding: 10px; background-color: #E3E2DA;}

.level4 {position: relative!important; width: 100%; left: 0!important;}

.ModuleDistinctName {display: inline-block; margin: 0;}
.instanceTitle {margin: 0 15px;}

.topCommands a {margin-right: 20px;}

/*dreveska */

.treeview {margin-right: 20px;}
.treeview .cct {overflow-x: scroll;}
.treeview ul {width: 300px;margin:0;padding:10px 0;list-style:none;float:left;}
.treeview ul ul {width:auto;padding: 2px 0 2px 0;margin-bottom:4px;}
.treeview ul ul ul {border-bottom: 1px solid #e3e2da;}

.treeview ul li {position:relative;padding-left:14px;float:left;}
.formStructure ul li{position:relative;padding-bottom:5px;padding-top:5px;float:left;}
.treeview ul li a {text-decoration:none;display:block;float:left;min-height:13px;min-width:20px;}

.treeview ul li a {width:254px;}
.treeview ul li li a {width:240px;}
.treeview ul li li li a {width:226px;}
.treeview ul li li li li a {width:212px;}
.treeview ul li li li li li a {width:198px;}
.treeview ul li li li li li li a {width:184px;}
.treeview ul li li li li li li li a {width:170px;}
.treeview ul li em {font-style:normal;color:#5E5E58;font-weight:bold;}
.treeview ul li span.pd,
.treeview ul li span.ch,
.treeview ul li span.pub {background-position: 1px 4px;background-repeat: no-repeat;display:block;float:left;padding: 4px 0 4px 20px;cursor:pointer;}
.treeview ul li span.pd {background-image:url(/Res/brisanje.gif);}
.treeview ul li span.ch {background-image:url(/Res/objava.gif);}
.treeview ul li span.pub {background-image:url(/Res/objavljeno.gif);}
.treeview ul li span.colapse {background-image:url(/Res/colapse.gif);}
.treeview ul li span.expand {background-image:url(/Res/expand.gif);}
.treeview ul li span.colapse,
.treeview ul li span.expand {position:absolute;top:0px;left:0px;display:block;width:13px;height:19px;background-position: -4px center;cursor:pointer;}
.treeview ul li.sel > a {background-color:#9E9E98; color: #FFF;}
.treeview ul li.sel li  a {background:none;}

.noImages ul li a {padding: 4px 0;}

.treeview ul.cct-Show {}
.treeview ul.cct-Hide {display:none;}

.treeHolder {margin-right: 20px;}
.treeHolder .cct {}
.treeHolder ul {width: 300px;margin:0;padding:10px 0;list-style:none;float:left;}
.treeHolder ul ul {width:auto;padding: 2px 0 2px 0;margin-bottom:4px;}
.treeHolder ul ul ul {border-bottom: 1px solid #e3e2da;}

.treeHolder ul li {position:relative;padding-left:14px;float:left;}
.treeHolder ul li a {text-decoration:none;display:block;float:left;min-height:13px;min-width:20px;}

.treeHolder ul li a {width:254px;}
.treeHolder ul li li a {width:240px;}
.treeHolder ul li li li a {width:226px;}
.treeHolder ul li li li li a {width:212px;}
.treeHolder ul li li li li li a {width:198px;}
.treeHolder ul li li li li li li a {width:184px;}
.treeHolder ul li li li li li li li a {width:170px;}
.treeHolder ul li em {font-style:normal;color:#5E5E58;font-weight:bold;}
.treeHolder ul li span.pd,
.treeHolder ul li span.ch,
.treeHolder ul li span.pub {background-position: 1px 4px;background-repeat: no-repeat;display:block;float:left;padding: 4px 0 4px 20px;cursor:pointer;}
.treeHolder ul li span.pd {background-image:url(/Res/brisanje.gif);}
.treeHolder ul li span.ch {background-image:url(/Res/objava.gif);}
.treeHolder ul li span.pub {background-image:url(/Res/objavljeno.gif);}
.treeHolder ul li span.colapse {background-image:url(/Res/colapse.gif);}
.treeHolder ul li span.expand {background-image:url(/Res/expand.gif);}
.treeHolder ul li span.colapse,
.treeHolder ul li span.expand {position:absolute;top:0px;left:0px;display:block;width:13px;height:19px;background-position: -4px center;cursor:pointer;}
.treeHolder ul li.sel > a {background-color:#9E9E98; color: #FFF;}
.treeHolder ul li.sel li  a {background:none;}

.treeHolder ul.cct-Show {}
.treeHolder ul.cct-Hide {display:none;}

/**/
.save {margin-bottom: 5px;}
.DynamicEditor {display: block;border-top: 4px #9e9e98 solid;float: left;margin: 10px;padding: 20px;background-color: #E3E2DA;}
.DynamicEditor > div {float: left; width: 100%;}
.DynamicEditor label {text-align: left; width: 150px;}
.DynamicEditor .save {clear: both;}
/**/
.nav-sidebar, .nav-sidebar ul {margin: 0 20px; padding: 0; width: 100%!important;}
.nav-sidebar li {float: left; width: 260px; list-style: none;}
.nav-sidebar li a {float: left; width: 180px; padding: 2px 0;}
.nav-sidebar li::before a {float: left; width: 10px;}
.nav-sidebar span {float: left; width: 100%; font-weight: bold; margin: 3px 20px; border-bottom: 1px #ccc solid;}
.nav-sidebar li a.nolink {float: left; width: 100%; font-weight: bold; margin: 10px 0 0 0; color: #000; border-bottom: 1px #ccc solid;}
.nav-sidebar li a.nolink:hover {text-decoration: none; cursor: default;}

/**/
.pager span {display: inline-block; margin: 4px;}
/**/
.searchFull {display: block;width: 100%;border-top: 4px #9e9e98 solid;float: left;margin: 10px 0;padding: 20px;background-color: #E3E2DA;}
.searchFull select {width: 160px;}
/**/
.centerFull .infolabel, .centerFull .info {padding: 0 10px 20px 0;}
/**/
.button.green {color: #fff; background-color: #5cb85c; border-color: #4cae4c;}
input.delete-btn {color: #fff; background-color: #c9302c; border-color: #ac2925;}
input.save-btn, input.changeTextContentInstance {color: #fff; background-color: #5cb85c; border-color: #4cae4c;}
input.alt_btn {color: #fff; background-color: #ec971f; border-color: #d58512;}

.required {display: none!important;}
/**/
.moduleInstance {background: #EEEEEE; padding: 15px; margin-top: 15px;}
.moduleInstance h4 {display: inline-block; width: 100%; margin: 0; padding: 0;}
.m-ops {float: left;}
.m-btns {float: right;}
.s-btn {margin: 0 0 0 10px!important;}
/**/
.clear-cache {margin: 20px 0 30px 0;}
.clear-cache input {margin: 0; color: #fff; background-color: #5bc0de; border-color: #46b8da;}

/* calendar */

div.calendar 
{
	position: relative; 
	width: 200px;
	z-index: 200;
}

.calendar, .calendar table {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #eef;
  font-family: tahoma,verdana,sans-serif;
}



.calendar .button { 
  text-align: center;
  padding: 2px;      
}

.calendar .nav {
  background: #778 url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title {
  font-weight: bold;    
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

.calendar thead .headrow {
  background: #778;
  color: #fff;
}

.calendar thead .daynames {
  background: #bdf;
}

.calendar thead .name {
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend {
  color: #a66;
}

.calendar thead .hilite { 
  background-color: #aaf;
  color: #000;
  border: 1px solid #04f;
  padding: 1px;
}

.calendar thead .active { 
  background-color: #77c;
  padding: 2px 0px 0px 2px;
}

.calendar tbody .day { 
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}

.calendar tbody .day .othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day .othermonth .oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { 
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { 
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected {
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { 
  color: #a66;
}

.calendar tbody td.today { 
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell {
  visibility: hidden;
}

.calendar tbody .emptyrow { 
  display: none;
}

.calendar tfoot .footrow {
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { 
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

.calendar tfoot .hilite {
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active {
  background: #77c;
  padding: 2px 0px 0px 2px;
}

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #acf;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}


.ck {width:100%;margin-bottom:10px;}
.ck div {float:none;}
.ck textarea {width: 100%; float: left; border: 1px solid #7B9EBD; }
.ck .cke_skin_kama {float:left;width: 100%;}
.ck .cke_toolbox {float:none;}
.ck .cke_wrapper {float:left;width:100%;}
.cke_skin_kama div {float:none;}
.ck .cke_dialog_tabs,
.ck .cke_dialog_body {float:none;}
.ck .cke_dialog_ui_vbox
.ck .cke_dialog_ui_text {float:none;}

@media (max-width: 1650px) {
.tall input[type="text"], select {width: 100%; min-width: 100%; margin-bottom: 6px;}
}

@media (max-width: 1423px) {
.input.uri span {width: 121px; word-wrap: break-word;}
}

