<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdaptedCSSFriendly" version="1.0.1" targetFramework="net451" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net451" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="MsSqlDBUtility" version="1.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NLog" version="4.0.1" targetFramework="net451" />
  <package id="NLog.Config" version="4.0.1" targetFramework="net451" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.450" targetFramework="net451" />
</packages>