<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <location path="ContentEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Structure.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Publish.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Forms.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Faqs.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Comments.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Articles.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="PersonalSettings.aspx">
    <system.web>
      <authorization>
        <allow roles="all, admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SubscriptionManager.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="dictionary.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FileManager.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FileManager2.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Events.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Editor.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="users.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="External.aspx">
    <system.web>
      <authorization>
        <allow roles="all" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>