<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <location path="css/adminWikiMenu.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ContentEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, ContentEdit, Content" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Structure.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, Structure" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Publish.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, Publish" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Scaffold.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, Scaffold" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Forms.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, Forms" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Articles.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, Articles" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SubscriptionManager.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, subscriptions" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="dictionary.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, dictionary" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FileManager.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, FileManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FileManager2.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, FileManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Editor.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="External.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, external" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Redirects.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, all, Redirects" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="SqlEditor.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Website.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="WebsiteIIS7.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>